<!DOCTYPE html>
<html>
  <head>
    <title>DestinyPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag asset_path('favicon.svg') %>



    <script type="text/javascript">
      window.destinyLogoURL = "<%= image_url('destiny-logo.png') %>";
      window.mediaBundleURL = "<%= image_url('media-bundle.svg') %>";
      window.mediaBundleURL2 = "<%= image_url('media-bundle2.png') %>";
      window.wayYouWantURL = "<%= image_url('watch-the-way-you-want.png') %>";

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
