<!DOCTYPE html>
<html>
  <head>
    <title>DestinyPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.destinyLogoURL = "<%= image_url('destiny-logo.png') %>";
      window.splashHomeURL = "<%= image_url('splash-home-image.jpg') %>";

    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
